.container {
    height: 200px;
}

.Hufflepuff-bg {
    background-color: #1F1E19;
}

.Gryffindor-bg {
    background-color: #5C0E07;
}

.Ravenclaw-bg {
    background-color: #223854;
}

.Slytherin-bg {
    background-color: #42742B;
}